:host ::ng-deep {
    .p-card {
        max-height: 80vh;
        overflow-y: auto;
    }

    .p-card::-webkit-scrollbar {
        width: 10px;
        background-color: #e4e4e4;
        border-radius: 100px;
    }
    
    .p-card::-webkit-scrollbar-thumb {
        background-color: #00afef;
        border-radius: 100px;
    }

    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0rem 1rem;
    }
}

@media (max-width: 500px) {
    :host ::ng-deep {
        .p-card {
            min-width: 19.9rem;
            margin-bottom: 2rem;
        }
    }
}