@media (max-width: 1390px) {
    /* … */
    .dashboard {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .dashboard {
        width: 100vw;
    }
}

@media (max-width: 820px) {
    .dashboard {
        width: 100vw;
    }
}