<div class="top-bar" style="height: 80px; position: fixed; z-index: 999; width: 100%;">
    <div class="col-2 profile" style=" height: 100%;">
        <div class="d-flex align-items-center" style="height: inherit;">
            <div class="ms-3 me-2">
                <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            </div>
            <div class="d-flex flex-column justify-content-start">
                <div>
                    <span>Olá Fulano de Tal</span>
                </div>
                <div>
                    <span>Nível 1 - Cielo Club</span>
                </div>
            </div>
        </div>
    </div>
</div>


