<p-card header="Em andamento" subheader="Dados de faturamento">
    <p-divider></p-divider>
    <ng-template pTemplate="content">
        <div class="mt-4 d-flex">
            <ul>
                <li>
                    <div class="d-flex list-item">
                        <div class="col-9">
                            <span>27/02/2023</span>
                            <br>
                            <span>Super Link / Digitada</span>
                            <br>
                            <span>Crédito à vista</span>
                        </div>
                        <div class="col-3 pt-2">
                            <span>R$78,00</span>
                        </div>
                    </div>
                    <p-divider></p-divider>
                </li>
                <li>
                    <div class="d-flex list-item">
                        <div class="col-9">
                            <span>27/02/2023</span>
                            <br>
                            <span>Super Link / Digitada</span>
                            <br>
                            <span>Crédito à vista</span>
                        </div>
                        <div class="col-3 pt-2">
                            <span>R$78,00</span>
                        </div>
                    </div>
                    <p-divider></p-divider>
                </li>
                <li>
                    <div class="d-flex list-item">
                        <div class="col-9">
                            <span>27/02/2023</span>
                            <br>
                            <span>Super Link / Digitada</span>
                            <br>
                            <span>Crédito à vista</span>
                        </div>
                        <div class="col-3 pt-2">
                            <span>R$78,00</span>
                        </div>
                    </div>
                    <p-divider></p-divider>
                </li>
                <li>
                    <div class="d-flex list-item">
                        <div class="col-9">
                            <span>27/02/2023</span>
                            <br>
                            <span>Super Link / Digitada</span>
                            <br>
                            <span>Crédito à vista</span>
                        </div>
                        <div class="col-3 pt-2">
                            <span>R$78,00</span>
                        </div>
                    </div>
                    <p-divider></p-divider>
                </li>
            </ul>
        </div>
    </ng-template>
</p-card>