:host ::ng-deep {
    .p-card .p-card-content {
        padding-top: 0px !important;
        padding-bottom: 0.5rem;
    }
    
    .p-card {
        max-height: 300px;
        overflow-y: auto;
        min-width: 25.5rem;
    }

    .p-card::-webkit-scrollbar {
        width: 10px;
        background-color: #e4e4e4;
        border-radius: 100px;
    }
    .p-card::-webkit-scrollbar-thumb {
        background-color: #00afef;
        border-radius: 100px;
    }
}

ul {
    width: 100%;
    padding-left: 0px;
}

ul li {
    font-size: 12px;
    list-style: none;
}

.list-item {
    margin-bottom: -1rem !important;
    margin-top: -1rem !important;
}

