<p-card header="R$ 190,01" subheader="Saldo disponível">
    <p-divider></p-divider>
    <ng-template pTemplate="content">
        <div>
            <span>Adicione Saldo e veja suas transações</span>
        </div>
        <div class="mt-4 d-flex">
            <p-button class="me-2" label="Sacar" icon="pi pi-money-bill"></p-button>
            <p-button class="me-2" label="Depositar" icon="pi pi-download"></p-button>
            <p-button  label="Extrato" icon="pi pi-list"></p-button>
        </div>
    </ng-template>
</p-card>
